{% extends "base.html.twig" %}

{% form_theme formMedecin 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h5> Ajout Medecin </h5>

{{ form_start(formMedecin) }}


{{ form_end(formMedecin) }}
{% endblock %}