{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-4">
<h5> MODIFIER LE SERVICE </h5>

{{ form_start(form) }}

{{ form_widget(form)}}

<button class="btn btn-primary"> Modifier</button>
{{ form_end(form) }}
</div>
{% endblock %}